{% extends 'layoutFull.html.twig' %}

{% block title %}Hello ApsidersController!{% endblock %}

{% block body %}
<div class="container-fluid pe-5 ps-5 pt-3">
	<div class="row">
		<div class="col-lg-10">
			<img class="pb-3" src="{{ asset('build/images/title_aspider.svg') }}" alt="Title for home page">
			<img class="pb-3" src="{{ asset('build/images/description_monica.svg') }}" alt="description of Monica" class="ms-5">
			<img src="{{ asset('build/images/project_monica.svg') }}" alt="description of Monica" class="ms-5">
		</div>
		<div class="col-lg-2 d-flex flex-column justify-content-between">
			<div class="card mb-3 rounded-box shadow" style="max-width: 18rem;">
				<div class="card-header d-flex justify-content-center">
					<img class="janika" src="{{ asset('build/images/photo_user.png') }}" alt="janika" class="mt-5 ms-5">
				</div>
				<div class="card-body">
					<h5 class="card-title p-3 name-teammate text-center">Monica Vargas</h5>
					<div class="card-text text-center">
						<img class="btn" src="{{ asset('build/images/mail.svg') }}" alt="mail">
						<img class="btn" src="{{ asset('build/images/calendar.svg') }}" alt="calendar">
					</div>
				</div>
			</div>
			<div>
				<img class="" src="{{ asset('build/images/peoples.svg') }}" alt="peoples">
			</div>
		</div>
	</div>
</div>
    
{% endblock %}
