{% extends 'layoutFull.html.twig' %}

{% block title %}Project
{% endblock %}

{% block body %}
<div class="container-fluid ps-5 pe-5">
	<div class="row">
		<div class="col-lg-8 mt-5">
			<img src="{{ asset('build/images/title_project.svg') }}" alt="Title for home page">
		</div>
		<div class="col-lg-1 text-end">
			<a class="btn btn-primary mt-4 mb-5" href="{{ path('home') }}">upload</a>
		</div>
		<div class="col-lg-1 text-start">
			<a class="btn btn-outline-primary mt-4 mb-5" href="{{ path('home') }}">download</a>
		</div>
		<div class="col-lg-2 mt-3">
			<div class="card mb-3 rounded-box shadow" style="max-width: 18rem;">
				<div class="card-header d-flex justify-content-center">
					<img class="janika" src="{{ asset('build/images/jackhall.png') }}" alt="janika" class="mt-5 ms-5">
				</div>
				<div class="card-body">
					<h5 class="card-title p-3 name-teammate text-center">Jack Hall</h5>
				</div>
				<div class="card-text text-center">
					<img class="btn" src="{{ asset('build/images/mail.svg') }}" alt="mail">
					<img class="btn" src="{{ asset('build/images/calendar.svg') }}" alt="calendar">
				</div>
			</div>
		</div>
	</div>
	<div class="row d-flex">
		<div class="col-lg-4">
			<div class="card mb-3 rounded-box shadow ms-5" style="max-width: 18rem;">
				<div class="card-body fw-bold fs-3">
					{{ form(form) }}
					<div class="card-title ps-3">
						{% for user in users|slice(1, 4)  %}
						<p class="name-teammate"><img class="trombi" src="{{ user.image }}" alt=""><a class="text-decoration-none" href="/apsiders">  {{ user.firstname }}  {{ user.lastname }}</a></p>
						{% endfor %}
					</div>
				</div>
			</div>
				<img class="mt-3" src="{{ asset('build/images/ballon.svg')}}" alt="balloon">
		</div>
		<div class="col-lg-4">
			<img class="float-end" src="{{ asset('build/images/todolist.svg')}}" alt="">
		</div>
		<div class="col-lg-4 float-end">
			<div class="float-end mb-5">
			<img  src="{{ asset('build/images/widecalendar.svg')}}" alt="">
			</div>
			<div class="float-end mt-5">
			<img  src="{{ asset('build/images/peoples.svg')}}" alt="">
			</div>
		</div>
	</div>
</div>
		
				
			
	{% endblock %}
